.outer-container
    {
        background-color: var(--main-high);
        height: 10rem;
        width: 20rem;
        margin: 1rem;
        border-radius: var(--corner-curve);
        display: flex;
        flex-direction: column;
        padding-left: 2.5rem;
        padding-top: 0.75rem;
        border: 0.25rem solid var(--sec-color);
        color: var(--main-text);
        .title
        {
            font-size: larger;
            color: var(--main-color);
            background-color: var(--main-high);
            margin-bottom: 2rem;
        }
        .content
        {
            background-color: var(--main-color);
        }
        .description
        {
            background-color: var(--main-color);
        }
        .apply-button
        {
            margin-top: 1rem;
            width: 7rem;
            border: none;
            background-color: var(--main-high);
            color: var(--main-text);
        }
        .apply-button:hover
        {
            background-color: var(--main-text);
            color: var(--main-high);
        }
    }